*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: white;
    height: 80px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 20%;
    float: left;
}
.menu {
    width: 80%;
    float: left;
}
img{
    width: 100%;
}
.menu li{
display: inline-block;

}
.menu ul{
    margin-top: 25px;
    margin-left: 120px;
}
.menu li{
    margin-left: 50px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    /* color: #fff; */
}
.menu li:hover{
    border-bottom: 3px solid #60cd96;
    transition: all .3s ease-in-out;
    color: #60cd96;
}
.menu li a{
    color: #29293a;
}
.menu li a:hover{
    color: #60cd96;
}

.text h1{
    margin-left: 110px;
    font-size: 40px;
    word-spacing: 10px;
}
.text button{
    margin-left: 110px;
    margin-top: 50px;
    padding: 17px 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}
.icon{
    position: relative;
}
/* .iconka{
    position: absolute;
} */

.area1{
    clear: both;
    padding-top: 30px;
    background-image: url("../sliderimg.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text{
    width: 600px;
    position: absolute;
    top:100px;
    left: 100px;
    word-spacing: 4px;
}
.iconka{
    z-index: 10;
    position: absolute;
    top: 120px;
    left: 180px;
    cursor: pointer;
    color: #81819b;
    
    
}


.iconka li{
  font-size: 1.3em;
  margin-bottom: 5px;
  transition: all 0.3s linear;


}

.iconka li i{
    transition: all 0.3s linear;
  
  
  }
  

.iconka li:hover i{
    color: #60cd96;
  }
.slayderfuter{
width: 100%;
height: 200px;
background-color: red;
display:flex;
}
.slayderfutercontent{
    width: 25%;
    height: 200px;
    padding: 15px;
    
}
.slayderfutercontent:first-child{

background-color: #60cd96;
    
    
}
.slayderfutercontent:nth-child(2){

    background-color:#69d2e7;
    
        
        
    }
    .slayderfutercontent:nth-child(3){

        background-color:#f98f6f;
            
            
        }
        .slayderfutercontent:last-child{

            background-color:#9d87c3;
                
                
            }
            .slayderfutercontent:nth-child(2) i{

             font-size: 3.5em;   
                    
                    
                }
                .slayderfutercontent:first-child i{

                    font-size: 3.5em;
                        
                        
                    }
                    .slayderfutercontent:nth-child(3) i{
                        font-size: 3.5em;

                    
                            
                            
                        }















